{% extends 'base.html' %}

{% block content %}
    <br/>
    <br/>
    <h1>
        {% ifequal user.groups.all.0.name "moderatorzy" %}
            Dni pracujące użytkowników
        {% else %}
            Moje dni pracujące
        {% endifequal %}

    </h1>
    {% ifequal user.groups.all.0.name "moderatorzy" %}
    <div>
        <a class="btn btn-secondary" href="{% url 'add_workSchedule' %}" role="button" style="float:right">Dodaj dni
            pracujace</a>
    </div>
    {% endifequal %}
    <table class="table" style="margin-top: 5%;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dzień pracujący od</th>
            <th scope="col">Od godziny</th>
            <th scope="col">Do godziny</th>
            <th scope="col">Użytkownik</th>
            {% ifequal user.groups.all.0.name "moderatorzy" %}
                <th scope="col">Akcje</th>
            {% endifequal %}
        </tr>
        </thead>
        <tbody>
        {% if context %}
            {% for each in context %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ each.dateFrom|date:"d-m-Y" }}</td>
                    <td>{{ each.timeFrom}}</td>
                    <td>{{ each.timeTo}}</td>
                    <td>{{ each.user.username | capfirst }}</td>
                    {% ifequal user.groups.all.0.name "moderatorzy" %}
                        <td>
                            <a href="{% url 'edit_workSchedule' each.id %}" class="btn btn-primary">Edytuj</a>
                            <a href="{% url 'delete_workSchedule' each.id %}" class="btn btn-danger">Usuń</a>
                        </td>
                    {% endifequal %}

                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th>Brak</th>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
